body {
    padding-top: 70px;
}

.card{
    outline-style: solid;
    outline-width: medium; 
    margin:0 auto;
    width: 500px;
    height: 350px;
}

.card img{
    width: 400px;
    height: 300px;
}

.card p{
    padding-top: 10px;
}

.flip-horizontal {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}